<div id="Map-Background">
  <img src="/my_travel/mapa_tesoro_islas(1).png" />
</div>


<style>
    /*Map background Style */
    body{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    #Map-Background{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(151, 118, 68,0.7);
        backdrop-filter: blur(8px);
    }
    
    #Map-Background img{
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }



</style>